.page__content {
  background-color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 480px) {
  .profile__avatar-edit {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
